<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Candidate Registration Form</title>
  <!-- Import Materialize CSS -->
  <link href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" rel="stylesheet">
  <style>
    .register-container {
      max-width: 600px;
      margin: 100px auto;
      padding: 20px;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
      border-radius: 8px;
      position: relative;
    }
    .register-container header {
      text-align: center;
      margin-bottom: 20px;
    }
    .input-field i {
      top: 0;
    }
    .logo {
      position: absolute;
      top: 20px;
      left: 20px;
      width: 100px; /* Adjust the width as needed */
    }
    .button-container {
      text-align: center;
    }
    .custom-btn {
      background-color: #f8f6f2; /* Change to your desired color */
      color: rgb(136, 133, 133);
    }
  </style>
</head>
<body>
  <div class="container">
    <img src="/static/pics/EMTALOGO.jpeg" alt="Logo" class="logo">
    <form method="POST" class="register-container" id="register" enctype="multipart/form-data">
      {% csrf_token %}

      <div class="top">
        <header><h4>Candidate Form</h4></header>
      </div>
      <p style="font-size: 20px;">Join us for a bright future! Register on this form to secure your placement in top companies.</p>
      <div class="input-field">
        <input type="text" name="first_name" id="first_name" required>
        <label for="first_name">First Name</label>
      </div>
      <div class="input-field">
        <input type="text" name="last_name" id="last_name">
        <label for="last_name">Last Name</label>
      </div>
      <div class="input-field">
        <select name="qualification" required>
          <option value="" disabled selected>Select your highest qualification</option>
          <option value="Secondary School">Secondary School</option>
          <option value="Higher Secondary School">Higher Secondary School</option>
          <option value="Graduate">Graduate</option>
          <option value="Post-Graduate">Post-Graduate</option>
          <option value="Ph.D.">Ph.D.</option>
        </select>
        <label>Qualification</label>
      </div>
      <div class="input-field">
        <select name="Job_Type" required>
          <option value="" disabled selected>Select Job Type</option>
          <option value="Full-Time">Full-Time</option>
          <option value="Part-Time">Part-Time</option>
          <option value="Work From Home (WFH)">Work From Home (WFH)</option>
          <option value="Internship">Internship</option>
          <option value="Others">Other's</option>
        </select>
        <label>Job Type</label>
      </div>
      <div class="input-field">
        <input type="text" name="sector" id="sector">
        <label for="sector">Sector Preference</label>
      </div>
      <div class="input-field">
        <input type="tel" name="mobile_number" id="mobile_number" required pattern="[0-9]{10}">
        <label for="mobile_number">Mobile Number</label>
      </div>
      <div class="input-field">
        <input type="email" name="email" id="email" required>
        <label for="email">Email</label>
      </div>
      
      <div class="input-field">
        <select name="location" required>
            <option value="" disabled selected>Job Prefferd Location</option>
            <option value="Indore">Indore</option>
            <option value="Jabalpur">Jabalpur</option>
            <option value="Sagar">Sagar</option>
            <option value="Bhopal">Bhopal</option>
            <option value="Rewa">Rewa</option>
            <option value="Chhindwara">Chhindwara</option>
            <option value="Ujjain">Ujjain</option>
            <option value="Ratlam">Ratlam</option>
            <option value="Satna">Satna</option>
            <option value="Dhar">Dhar</option>
            <option value="Morena">Morena</option>
            <option value="Khargone">Khargone</option>
            <option value="Chhattarpur">Chhattarpur</option>
            <option value="Shivpuri">Shivpuri</option>
            <option value="Bhind">Bhind</option>
            <option value="Balaghat">Balaghat</option>
            <option value="Betul">Betul</option>
            <option value="Dewas">Dewas</option>
            <option value="Rajgarh">Rajgarh</option>
            <option value="Shajapur">Shajapur</option>
            <option value="Vidisha">Vidisha</option>
            <option value="Gwalior">Gwalior</option>
            <option value="Tikamgarh">Tikamgarh</option>
            <option value="Barwani">Barwani</option>
            <option value="Seoni">Seoni</option>
            <option value="Mandsaur">Mandsaur</option>
            <option value="Raisen">Raisen</option>
            <option value="Sehore">Sehore</option>
            <option value="Khandwa">Khandwa</option>
            <option value="Katni">Katni</option>
            <option value="Damoh">Damoh</option>
            <option value="Guna">Guna</option>
            <option value="Hoshangabad">Hoshangabad</option>
            <option value="Singrauli">Singrauli</option>
            <option value="Sidhi">Sidhi</option>
            <option value="Narsimhapur">Narsimhapur</option>
            <option value="Shahdol">Shahdol</option>
            <option value="Mandla">Mandla</option>
            <option value="Jhabua">Jhabua</option>
            <option value="Panna">Panna</option>
            <option value="Ashoknagar">Ashoknagar</option>
            <option value="Neemuch">Neemuch</option>
            <option value="Datia">Datia</option>
            <option value="Burhanpur">Burhanpur</option>
            <option value="Anuppur">Anuppur</option>
            <option value="Alirajpur">Alirajpur</option>
            <option value="Dindori">Dindori</option>
            <option value="Sheopur">Sheopur</option>
            <option value="Umaria">Umaria</option>
            <option value="Harda">Harda</option>
            <option value="Other's">Other's</option>
        </select>
        <label>Location</label>
    </div>
    
      <div class="input-field">
        <input type="hidden" name="refer_code" id="refer_code" value="{{ initial_data.refer_code }}">
        <label for="refer_code">Enter Refer Code</label>
      </div>
      <div class="file-field input-field">
        <div class="btn custom-btn">
          <span>Upload Resume</span>
          <input type="file" name="resume" id="resume">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text" placeholder="Upload your resume">
        </div>
      </div>
      <div id="resumeError" style="display: none; color: red;">Please upload a valid file.</div>
      <div class="input-field">
        <label>
          <input type="checkbox" id="terms" required />
          <span>I agree to the <a class="modal-trigger" href="#termsModal">terms and conditions</a></span>
        </label>
      </div><br><br>
      <div class="button-container">
        <button type="submit" class="btn waves-effect waves-light">Register Now</button>
      </div>
    </form>
  </div>

  <!-- Terms and Conditions Modal -->
  <div id="termsModal" class="modal">
    <div class="modal-content">
      <h4>Terms and Conditions</h4>
      <p>Here you can write the terms and conditions...</p>
    </div>
    <div class="modal-footer">
      <a href="#!" class="modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
  </div>

  <!-- Import Materialize JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <script>
    document.addEventListener('DOMContentLoaded', function() {
      M.AutoInit();

      const form = document.getElementById('register');
      form.addEventListener('submit', function(event) {
        const termsCheckbox = document.getElementById('terms');
        if (!termsCheckbox.checked) {
          event.preventDefault();
          alert('You must agree to the terms and conditions before submitting the form.');
        }
      });
    });
  </script>
</body>
</html>


