<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>
        www.emtavms.com
    </title>
    <!-- Favicon -->
    <link href="/static/pics/EMTA.jpeg" rel="icon" type="image/png">
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
    <!-- Icons -->
    <link href="/static/css/js/plugins/nucleo/css/nucleo.css" rel="stylesheet" />
    <link href="/static/css/js/plugins/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- CSS Files -->
    <link href="/static/css/argon-dashboard.css?v=1.1.2" rel="stylesheet" />
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"> -->
   
</head>

<body class="">
    <nav class="navbar navbar-vertical fixed-left navbar-expand-md navbar-light bg-white" id="sidenav-main">
        <div class="container-fluid">
            <!-- Toggler -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sidenav-collapse-main"
                aria-controls="sidenav-main" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <!-- Brand -->
            <a class="navbar-brand pt-0" href="{% url 'admin_dashboard' %}">
                <img src="/static/pics/EMTALOGO.jpeg" class="navbar-brand-img" alt="...">
            </a>
            <!-- User -->
            
            <!-- Collapse -->
            <div class="collapse navbar-collapse" id="sidenav-collapse-main">
                <!-- Collapse header -->
                <div class="navbar-collapse-header d-md-none">
                    <div class="row">
                        <div class="col-6 collapse-brand">
                            <a href="{% url 'admin_dashboard' %}">
                                <img src="/static/pics/EMTALOGO.jpeg">
                            </a>
                        </div>
                        <div class="col-6 collapse-close">
                            <button type="button" class="navbar-toggler" data-toggle="collapse"
                                data-target="#sidenav-collapse-main" aria-controls="sidenav-main" aria-expanded="false"
                                aria-label="Toggle sidenav">
                                <span></span>
                                <span></span>
                            </button>
                        </div>
                    </div>
                </div>
                <!-- Form -->
                
                <!-- Navigation -->
                <ul class="navbar-nav">
                    <li class="nav-item {% if request.path == '/adminDashboard' %}active{% endif %}">
                        <a class="nav-link {% if request.path == '/adminDashboard' %}active{% endif %}" href="{% url 'admin_dashboard' %}">
                            <i class="ni ni-tv-2 text-primary"></i> Vendor
                        </a>
                    </li>
                    <li class="nav-item {% if request.path == '/candidateDashboard' %}active{% endif %}">
                        <a class="nav-link {% if request.path == '/candidateDashboard' %}active{% endif %}" href="{% url 'candidate_dashboard' %}">
                            <i class="ni ni-tv-2 text-primary"></i> Candidate
                        </a>
                    </li>
                    <li class="nav-item active{% if request.path == '/EmployeeDetails' %}active{% endif %}">
                        <a class="nav-link active{% if request.path == '/EmployeeDetails' %}active{% endif %}" href="{% url 'employee_details' %}">
                            <i class="ni ni-tv-2 text-primary"></i> Employee
                        </a>
                    </li>
                </ul>
                
                <!-- Divider -->
                <hr class="my-3">
            </div>
        </div>
    </nav>
    <div class="main-content">
        <!-- Navbar -->
        <nav class="navbar navbar-top navbar-expand-md navbar-dark" id="navbar-main">
            <div class="container-fluid">
                <!-- Brand -->
                <a class="h4 mb-0 text-white text-uppercase d-none d-lg-inline-block" href="{% url 'employee_details' %}">Employee</a>
                
                <!-- User -->
                <ul class="navbar-nav align-items-center d-none d-md-flex">
                    <li class="nav-item dropdown">
                        <a class="nav-link pr-0" href="#" role="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <div class="media align-items-center">
                                
                                <div class="media-body ml-2 d-none d-lg-block">
                                    <span class="mb-0 text-sm  font-weight-bold"></span>
                                </div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!-- End Navbar -->
        <!-- Header -->
        <div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <div class="header-body">
                   
                </div>
            </div>
        </div>
        <div class="container-fluid mt--7">
            <div class="row">
                <div class="col-xl-12 mb-5 mb-xl-0">
                    <div class="card shadow">
                        <div class="card-header border-0">
                            <div class="row align-items-center">
                                <div class="col">
                                    <h3 class="mb-0">Vendors</h3>
                                </div>
                                <div class="col text-right">
                                
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-borderless table-striped table-earning">
                                <thead class="thead-danger">
                                    <th scope="col" style="font-size: 20px;">Employee ID</th>
                                    <th scope="col" style="font-size: 20px;">Mobile</th>
                                    <th scope="col" style="font-size: 20px;">Email</th>
                                    <th scope="col" style="font-size: 20px;">Date Joined</th>
                                    <th scope="col" style="font-size: 20px;">Actions</th>
                                </thead>
                                <tbody>
                                    {% for employee in employees %}
                                    <tr>
                                        <td>{{ employee.employee_id }}</td>
                                        <td>{{ employee.mobile_number }}</td>
                                        <td>{{ employee.user.email }}</td>
                                        <td>{{ employee.user.date_joined }}</td>
                                        <td>
                                            <form action="{% url 'employee_details' %}" method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="employee_id" value="{{ employee.id }}">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--   Core   -->
    <script src="/static/assets/js/plugins/jquery/dist/jquery.min.js"></script>
    <script src="/static/assets/js/plugins/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!--   Optional JS   -->
    <script src="/static/assets/js/plugins/chart.js/dist/Chart.min.js"></script>
    <script src="/static/assets/js/plugins/chart.js/dist/Chart.extension.js"></script>
    <!--   Argon JS   -->
    <script src="/static/assets/js/argon-dashboard.min.js?v=1.1.2"></script>
    <!--   Demo JS   -->
    <script src="/static/assets/js/demo.min.js"></script>
</body>

</html>